<p>
    <strong>Title</strong>
    <%= @listener.title %>
</p>

<p>
    <strong>Interval</strong>
    <%= @listener.interval %>
</p>

<%= link_to 'Edit', edit_listener_path(@listener) %>
<%= link_to 'Back', listeners_path %>